.gallery-card8-gallery-card {
  width: 100%;
  height: 200px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.gallery-card8-image {
  height: 100%;
  object-fit: cover;
}

