.gallery-card2-gallery-card {
  width: 100%;
  height: 200px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.gallery-card2-image {
  height: 100%;
  object-fit: cover;
}
.gallery-card2-root-class-name {
  width: 276px;
}
.gallery-card2-root-class-name1 {
  right: 329px;
  width: 276px;
  bottom: -216px;
  position: static;
}
.gallery-card2-root-class-name2 {
  width: 276px;
}
.gallery-card2-root-class-name3 {
  right: 329px;
  width: 276px;
  bottom: -216px;
  position: static;
}
.gallery-card2-root-class-name4 {
  align-self: flex-start;
}
.gallery-card2-root-class-name5 {
  align-self: flex-start;
}
.gallery-card2-root-class-name6 {
  align-self: flex-start;
}
